@{
    ViewBag.Title = "О Нас Как о Компании";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Приветствуем Вас в разделе "О Компании"</p>
<p>Для ознакомления с историей Компании и деятельностью в РФ можете перейти к нашему умному боту, который расскажет Вам много интересного</p>

<strong></strong>