@{
    ViewBag.Title = "Оформить Заказ";
}
<h2>@ViewBag.Title.</h2>

<style>
    address {
        margin-bottom: 20px;
        font-style: normal;
        line-height: 1.42857143;
        font-size: large;
    }
</style>
<address>
    Приветствуем Вас в разделе оформления заказа<br />
    Для оформления заказа отправьте письмо нашему клиент-менеджеру с указанием артикулов интересующего Вас продукта<br />
</address>

<address>
    <strong>Посмотреть артикул:</strong>   <a href="https://localhost:44379/CarDetails">Check Articul</a><br />
    <strong>Создать заказ:</strong> <a href="https://mail.google.com">Go to Gmail</a>
    <strong>Телефон для заказа: 8-952-279-89-11</strong>
</address>